.card {
  display: grid;
  padding: 15px;
  text-decoration: none;
  row-gap: 15px;
}

.avatar {
  justify-self: center;
  width: 128px;
  height: 128px;
  object-fit: cover;
  background-color: $secondary;
  border-radius: 100%;
}

.name {
  justify-self: center;
  color: $secondary;
  font-weight: 300;
  font-size: 25px;
}
