// ==============================
//
//  OpenSans
//
// ==============================
@font-face {
	font-weight: 300;
	font-family: 'OpenSans';
	font-style: normal;
	src: local('OpenSans Light'),
		url('../../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
		url('../../fonts/open-sans/OpenSans-Light.woff') format('woff');
}
