.section {
  padding: 20px;
  text-align: center;
}

.link {
  color: $link;
  font-size: 17px;
  text-decoration: none;
  transition: all $transition ease-in;
  &:hover {
    color: rgba($link, 0.5);
  }
}
