@import './mixins.scss';
@import './media.scss';

// Fonts
$reserve-fonts: sans-serif;
$font-primary: 'OpenSans', $reserve-fonts;

// Colors
$primary-color: #fff;
$link-color: #61dafb;
$success-color: #2ecc71;
$error-color: #e74c3c;

// Backgrounds
$primary-bg: #282c34;

// Transition
$primary-transition: 0.3s;

// Sizes
$max-width: 1440px;
